<section class="wrapper">
  <main class="content">
    <%= simple_form_for [@world, @character] do |f| %>
      <div class="form_meta_field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="form_meta_field">
        <%= f.label :img_url %>
        <%= f.text_field :img_url %>
      </div>

      <div class="form_meta_field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="form_meta_field">
        <%= f.submit %>
      </div>
    <% end %>

    <%= simple_form_for [@world, @character], method: :delete do |f| %>
      <div class="form_meta_field">
        <%= f.submit "Delete!", class: "delete"%>
      </div>
    <% end %>

    <div class="links">
      <%= link_to 'Back', world_character_path %>
    </div>
  </main>
</section>
