<section class="wrapper">
  <header class="main-header">
    <h2>New Character / <%= link_to @world.name, world_path(@world) %></h2>
  </header>

  <main class="form-content">
    <%= simple_form_for [@world, @character], :html => {:class => "pure-form pure-form-stacked"} do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="form-group">
          <%= f.label :img_url %>
          <%= f.text_field :img_url %>
        </div>

        <div class="form-group">
          <%= f.label :origin %>
          <%= f.text_field :origin %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>

        <div class="form-submit">
          <%= f.submit %>
        </div>
    <% end %>
  </main>
</section>
