<section class="wrapper">
  <header class="main-header">
    <h2><%= @character.name %></h2>
    <p><%= @character.origin %> / <%= link_to @character.world.name, world_path(@world) %></p>
  </header>

  <main class="content">
    <div class="column-left">
      <div class="character">
        <%= image_tag @character.img_url %>
      </div>
    </div>

    <div class="column-right">
      <p class="item-text">
        <%= @character.description %>
      </p>

      <div class="links">
        <%= link_to 'Edit', edit_world_character_path %>
      </div>
    </div>

  </main>
</section>
