<!DOCTYPE html>
<html>
  <head>
    <title>Kingdom Hearts Universe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://unpkg.com/purecss@0.6.2/build/pure-min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">

  </head>

  <body>
    <div class="top-info">
      <% if user_signed_in? == true %>
      <div class="user-action"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
      <div class="user-info">Welcome,
        <%= current_user.email %></div>
    <% else %>
      <div class="user-action"><%= link_to 'Login', new_user_session_path %>
        |
        <%= link_to 'Sign Up', new_user_registration_path %></div>
      <% end %>
    </div>

    <section class="title">
      <a href="<%= worlds_path %>"><%= image_tag 'crown.png' %></a>
      <h1>Kingdom Hearts</h1>
      <p>Universe</p>
    </section>

    <div class="wrapper">
      <div class="flash">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <%= yield %>

    <footer class="footer-text">
      <p>Design by
        <%= link_to 'Halimatu Bakarr', 'http://halimatubakarr.com' %>. Built with Rails.</p>
    </footer>
  </body>
</html>
