<!DOCTYPE html>
<html>
  <head>
    <title>Khwiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://unpkg.com/purecss@0.6.2/build/pure-min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">

  </head>

  <body>
    <section class="title">
      <a href="<%= worlds_path %>"><%= image_tag 'crown.png' %></a>
      <h1>Kingdom Hearts</h1>
      <p>Universe</p>
    </section>

    <%= yield %>
  </body>

  <footer class="footer-text">
    <p>Design by <%= link_to 'Halimatu Bakarr', 'http://halimatubakarr.com' %>. Build with Rails.</p>
  </footer>
</html>
