<!DOCTYPE html>
<html>
  <head>
    <title>Khwiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
